@{
    ViewBag.Title = "405-Not Allowed";
}

<section id="content">
    <div class="row m-n">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="text-center m-b-lg">
                <h1 class="h text-white animated fadeInDownBig">
                    405
                </h1>
                <div class="text-center padder clearfix">
                    <p>
                        <small>
                            The method specified in the Request-Line is not allowed for the resource identified by the Request-URI.
                            The response MUST include an Allow header containing a list of valid methods for the requested resource.
                        </small>
                    </p>
                </div>
            </div>
            <div class="list-group m-b-sm bg-white m-b-lg">
                <a href="/" class="list-group-item">
                    <i class="fa fa-chevron-right icon-muted"></i>
                    <i class="fa fa-fw fa-home icon-muted"></i> Goto homepage
                </a>
            </div>
        </div>
    </div>
</section>

