@{
    ViewBag.Title = "501-Not Implemented";
}

<section id="content">
    <div class="row m-n">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="text-center m-b-lg">
                <h1 class="h text-white animated fadeInDownBig">
                    501
                </h1>
                <div class="text-center padder clearfix">
                    <p>
                        <small>
                            The server does not support the functionality required to fulfill the request.
                            This is the appropriate response when the server does not recognize the request method and is not capable of supporting it for any resource.
                        </small>
                    </p>
                </div>
            </div>
            <div class="list-group m-b-sm bg-white m-b-lg">
                <a href="/" class="list-group-item">
                    <i class="fa fa-chevron-right icon-muted"></i>
                    <i class="fa fa-fw fa-home icon-muted"></i> Goto homepage
                </a>
            </div>
        </div>
    </div>
</section>

