@{
    ViewBag.Title = "503-Service Unavailable";
}

<section id="content">
    <div class="row m-n">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="text-center m-b-lg">
                <h1 class="h text-white animated fadeInDownBig">
                    503
                </h1>
                <div class="text-center padder clearfix">
                    <p>
                        <small>
                            The server is currently unable to handle the request due to a temporary overloading or maintenance of the server.
                            The implication is that this is a temporary condition which will be alleviated after some delay.
                        </small>
                    </p>
                </div>
            </div>
            <div class="list-group m-b-sm bg-white m-b-lg">
                <a href="/" class="list-group-item">
                    <i class="fa fa-chevron-right icon-muted"></i>
                    <i class="fa fa-fw fa-home icon-muted"></i> Goto homepage
                </a>
            </div>
        </div>
    </div>
</section>

