@*chat*@
@*<div class="dropup" id="chat">
        <section class="dropdown-menu on aside-md m-l-n">
            <section class="panel bg-white">
                <header class="panel-heading b-b b-light">Active chats</header>
                <div class="panel-body animated fadeInRight">
                    <p class="text-sm">No active chats.</p>
                    <p><a class="btn btn-sm btn-default" href="#">Start a chat</a></p>
                </div>
            </section>
        </section>
    </div>*@
@*onlineuser*@
@*<div class="dropup" id="onlineuser">
        <section class="dropdown-menu on aside-md m-l-n">
            <section class="panel bg-white">
                <header class="panel-heading b-b b-light">
                    <i class="fa fa-users"></i> Active Users
                </header>
                <div class="panel-body animated fadeInRight slim-scroll" data-height="200px">
                    <ul class="list-group alt">
                        <li class="list-group-item">
                            <div class="media">
                                <div class="pull-right text-success">
                                    <i class="fa fa-circle"></i>
                                </div>
                                <div class="media-body">
                                    <a href="#">Ross Nebula</a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="media">
                                <div class="pull-right text-muted">
                                    <i class="fa fa-circle"></i>
                                </div> <div class="media-body">
                                    <div>
                                        <a href="#">Rosy Haider</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="media">
                                <div class="pull-right text-warning">
                                    <i class="fa fa-circle"></i>
                                </div>
                                <div class="media-body">
                                    <div>
                                        <a href="#">Jef Vic</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="media">
                                <div class="pull-right text-danger">
                                    <i class="fa fa-circle"></i>
                                </div>
                                <div class="media-body">
                                    <div>
                                        <a href="#">Scot Suraj</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </section>
    </div>*@
@*cegis*@
<div class="dropup" id="poweredby">
    <section class="dropdown-menu on aside-md m-l-n">
        <section class="panel bg-white">
            <header class="panel-heading b-b b-light">
                Powered by
                <a class="thumb avatar" href="http://www.cegisbd.com" target="_blank" style="width: auto !important;">
                    <img class="img-rounded" src="~/Content/images/cegis-small.jpg">
                </a>
            </header>
            <div class="panel-body animated fadeInRight text-left">
                <p class="text-md bold">Center for Environmental and Geographic Information Services</p>
                <p class="text-sm italic">(A Public Trust under the Ministry of Water Resources)</p>
                <p class="text-xs">House #06, Road #23/C, Gulshan-1, Dhaka-1212, Bangladesh.</p>
                <p class="text-xs">Tell: 88 02 58817648-52; 9842581, 9842551, 9842542.</p>
                <p class="text-xs">Fax: 88 02 9855935; 88 02 9843128.</p>
                <p class="text-xs">e-mail: <a href="mailto:cegis@cegisbd.com">cegis@cegisbd.com</a></p>
                <p class="text-xs"><a href="http://www.cegisbd.com" target="_blank">http://www.cegisbd.com</a></p>
            </div>
        </section>
    </section>
</div>
<a class="pull-right btn btn-sm btn-default btn-icon" data-toggle="class:nav-xs" href="#nav">
    <i class="fa fa-angle-left text"></i>
    <i class="fa fa-angle-right text-active"></i>
</a>
<div class="btn-group hidden-nav-xs">
    @*<button data-target="#chat" data-toggle="dropdown" class="btn btn-icon btn-sm btn-default" title="Chats" type="button"><i class="fa fa-comment-o"></i></button>
        <button data-target="#onlineuser" data-toggle="dropdown" class="btn btn-icon btn-sm btn-default" title="Contacts" type="button"><i class="fa fa-user"></i></button>*@
    <button data-target="#poweredby" data-toggle="dropdown" class="btn btn-icon btn-sm btn-default" title="Powered by CEGIS" type="button"><i class="fa fa-anchor"></i></button>
</div>