<!--slider-->
<div id="main_slider">
    <div class="camera_wrap" id="camera_wrap_1">
        <div data-src="Content/gallery/img/slider/1.jpg"></div>
        <div data-src="Content/gallery/img/slider/2.jpg"></div>
        <div data-src="Content/gallery/img/slider/3.jpg"></div>
        <div data-src="Content/gallery/img/slider/4.jpg"></div>
        <div data-src="Content/gallery/img/slider/5.jpg"></div>
        <div data-src="Content/gallery/img/slider/6.jpg"></div>
    </div>
    <div class="clear"></div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
@Scripts.Render("~/gallery/js")
<script type="text/javascript">
    $(document).ready(function () {
        //Slider
        $('#camera_wrap_1').camera();
    });
</script>

